.contain_text {
    height: 400px;
    background-color: rgb(81, 255, 0);
    margin: 50px 0px;
    margin: top-bottom LR;
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.233);
    overflow-wrap: break-word;
    overflow: auto;
  }
  
  .contain_text h1 {
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    opacity: 50%;
    transition: all 0.5s;
    font-style: bold;
  }
  
  .contain_text h1:hover {
    opacity: 100%;
  }
  .content {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: black;
    margin: 20px 300px;
    text-align: justify;
    opacity: 75%;
  }
  .content:hover{
    opacity: 50%;
  }

.btn-outline-primary:hover {
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(82, 82, 233);
} 
.btn-primary:hover {
    box-shadow: 10px 10px 10px rgba(1,204,255,0.363);

  }
.btn-outline-danger:hover {
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(241, 62, 62, 0.973);
  }
.btn-outline-warning:hover {
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(247, 195, 24, 0.877);
}
.btn-outline-info:hover {
  border-radius: 15px;
  box-shadow: 10px 10px 10px  rgba(15, 124, 226, 0.766);
}
.btn-outline-success:hover {
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(56, 243, 19, 0.8);
}
  .heading {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
  }
  
  #name {
  }
  #text_area_text{
    border: 5px solid cyan;
    border-radius: 10px;
    padding: 10px;
  }
  #text_area_text:focus{
    outline 0px;
  }
.textarea_container {
  margin-top: 20px;
}
  